{
  "*.{js,jsx,ts,tsx,css,scss}": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --ext js,jsx,ts,tsx",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --fix",
    "git add"
  ]
}
