@import '~@csstools/normalize.css/normalize';
@import '~include-media/dist/_include-media.scss';

@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.link {
    color: $accent-color;
    cursor: pointer;
    text-decoration: none;
}

.cta-button {
    background: $theme-color;
    border: none;
    border-radius: $border-radius;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.625rem;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    @include center;

    &--lg {
        font-size: 1.25rem;
        height: 3.75rem;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        color: rgba(255, 255, 255, 0.8);
        padding: 0 0.5rem;
        text-align: left;

        &.no-alpha {
            color: #fff;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }

    th {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.8125rem;
        text-transform: uppercase;
    }

    tr {
        background-color: #1d1d24;
        border-bottom: 1px solid rgba(222, 226, 230, 0.1);
        height: 4rem;
    }

    thead {
        tr:first-child th {
            &:first-child {
                border-top-left-radius: $border-radius;
            }
            &:last-child {
                border-top-right-radius: $border-radius;
            }
        }
    }

    tbody tr {
        &:last-child {
            border-bottom: none;
        }
        &:last-child td {
            &:first-child {
                border-bottom-left-radius: $border-radius;
            }
            &:last-child {
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    &__footer {
        align-items: center;
        display: flex;
    }
}

.input {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 1);
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    resize: none;
    width: 100%;

    &::placeholder {
        color: rgba(0, 0, 0, 0.4);
    }

    &:focus {
        border: 1px solid $accent-color;
    }
}

// select dropdown styling
.select {
    margin-bottom: 1rem;
    width: 100%;

    & &__control {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: $border-radius;
        box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.03);
        height: 3.125rem;
    }

    & &__option {
        color: rgba(0, 0, 0, 0.8);
        font-size: 0.875rem;
        line-height: 1rem;
        padding: 0.75rem 0.875rem;

        &--is-focused {
            background-color: #f4f6f8;
        }
    }

    & &__multi-value {
        background-color: #eaeaea;
        border-radius: 6.625rem;

        &__label {
            padding: 6px 10px;
            padding-right: 4px;
        }

        &__remove {
            @include center;
            border-radius: 6.625rem;
            width: 1.75rem;
        }
    }
}
