$theme-color: #ff3366;
$accent-color: #1abcfe;

$z-nav: 3;

$content-width: 88rem;
$content-padding: 1rem;
$border-radius: 0.25rem;

$search-width-collapsed: 3.25rem;

$nav-width-desktop: 3.75rem;
$nav-header-height-mobile: 3.75rem;
$nav-header-height-desktop: 10.375rem;
