@import '../../variables.scss';

$color: rgba(255, 255, 255, 0.54);

.checkbox {
    cursor: pointer;
    display: inline-block;
    height: 1.25rem;
    position: relative;
    width: 1.25rem;

    &::after,
    &::before {
        content: ' ';
        left: 0;
        position: absolute;
        top: 0;
    }

    &::before {
        border: 2px solid $color;
        border-radius: $border-radius;
        bottom: 0;
        right: 0;
    }

    &.checked::after {
        border-bottom: 2px solid $color;
        border-left: 2px solid $color;
        height: 7px;
        left: 4px;
        top: 4px;
        transform: rotate(-45deg);
        width: 12px;
    }
}
