.checkbox {
    cursor: pointer;
    display: inline-block;
    height: 1.25rem;
    position: relative;
    width: 1.25rem;
    /* local variable */
    --color: rgba(255, 255, 255, 0.54);
}

.checkbox::after,
.checkbox::before {
    content: ' ';
    left: 0;
    position: absolute;
    top: 0;
}

.checkbox::before {
    border: 2px solid var(--color);
    border-radius: 4px;
    bottom: 0;
    right: 0;
}

.checkbox.checked::after {
    border-bottom: 2px solid var(--color);
    border-left: 2px solid var(--color);
    height: 0.25rem;
    left: 5px;
    top: 6px;
    transform: rotate(-45deg);
    width: 0.5rem;
}
